body {
    height: 100vh;
    display: flex;
}

canvas {
    /* border: 1px black solid; */
    margin: auto;
    color: #ff450040;
}

button {
    width: 100%;
    margin: .5rem 0;
}

label {
    cursor: pointer;
}

.control-panel {
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.play-container {
    display: flex;
    gap: 16px;
}