body {
    height: 100vh;
    display: flex;
    flex-flow: column;

    background-color: #101010;
    color: #f0f0f0;
}

canvas {
    /* border: 1px black solid; */
    margin: auto;
}

button {
    background-color: #f0f0f0;
    border: none;
    border-radius: 1rem;
    /* color: #f0f0f0; */
    padding: .5rem;

    cursor:pointer;

    width: 100%;
    margin: .5rem 0;
}

label {
    cursor: pointer;
}

.control-panel {
    padding: 1rem;
    /* position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%); */
}

.play-container {
    display: flex;
    gap: 16px;
}